.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}
.title-text{
    text-align: center;
    font-size: 10rem;
    font-family: "NinetiesDisplay", serif;
    margin: 1rem;
}

.login-form{
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    max-width: 25rem;
    margin: 0 auto;
    border-radius: 1rem;
    background: var(--foreground);
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.55);
    border: 1px solid rgba(0, 0, 0, 0.26);
}

.entry-field {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 0.8rem;
    width: 100%;
}
.entry-field label {
    min-width: 100px;
    color: var(--text);
    font-size: 1.2rem;
    font-family: "TT-Tricks", sans-serif;
    text-align: left;
    text-transform: lowercase;
    letter-spacing: 1px;
}

.entry-field input {
    flex: 1;
    color: var(--text);
    font-size: 1.1rem;
    font-family: "TT-Tricks", serif;
    letter-spacing: 1px;

    padding: 0.6rem;
    border-radius: 0.8rem;
    border: 1px solid var(--foreground);
    background: var(--background);
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 1px 6px rgba(255,255,255,0.05);
    transition:
        border 0.2s,
        transform 0.2s cubic-bezier(.25,1.5,.5,1);
}

.entry-field input:hover {
    border: 1px solid var(--secondary);
    transform: scale(1.04);
}

.entry-field input:focus {
    border: 1px solid var(--primary);
    transform: scale(1.04);
    outline: none;
}

.login-button{
    flex: 1;
    color: #1C1C1C;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "TT-Tricks", serif;
    letter-spacing: 1px;
    outline: none;
    margin-top: 1rem;
    padding: 0.6rem;
    border-radius: 0.8rem;
    background: var(--secondary);
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 1px 6px rgba(255,255,255,0.05);
    border: 1px solid var(--secondary);
    transition:
        background 0.2s,
        border 0.2s,
        transform 0.2s cubic-bezier(.25,1.5,.5,1);
}

.login-button:hover {
    background: var(--primary);
    border: 1px solid var(--primary);
    transform: scale(1.04);
}

.login-button:focus {
    background:var(--primary);
    border: 1px solid var(--primary);
    outline: none;
}

.error-form{
    margin-top: 2rem;
    padding: 0.5rem;
    opacity: 0;
    border-radius: 1rem;
    background: var(--error);
    max-width: 25rem;
    box-shadow: 0 1px 6px rgba(0,0,0,0.25);
}

.error-form.show {
    opacity: 1;
}

.error-field {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: #F4F6FB;
    font-size: 1.1rem;
    font-family: "TT-Tricks", sans-serif;
    letter-spacing: 1px;
    text-wrap: auto;
    text-align: center;
}

.link-field{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

.link {
    flex: 1;
    margin-top: 1.5rem;
}
.link a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: var(--text);
    font-size: 0.9rem;
    font-family: "TT-Tricks", sans-serif;
    text-transform: lowercase;
    letter-spacing: 1px;
    transition: transform 0.2s cubic-bezier(.25,1.5,.5,1);
}

.link a:hover{
    color: var(--primary);
    transform: scale(1.04);
}

.link a:focus {
    color: var(--primary);
    transform: scale(1.04);
}

@media (max-width: 500px) {
    body{
        overflow: hidden;
    }
    .title-text{
        font-size: 8rem;
    }
    .login-form {
        max-width: 60vw;
    }
    .entry-field {
        flex-direction: column;
    }
    .entry-field input, .login-button, .link-field {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
}
